<div class="container-login-form">
  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()" novalidate>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userEmail" placeholder="User Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="userPassword" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="loginForm.invalid">
          Login
        </button>
      </nz-form-control>
    </nz-form-item>
    <p>or</p>
  </form>

  <button class="modal-window" nz-button [nzType]="'primary'" (click)="showModal()">
    <span>Sign Up</span>
  </button>
  <nz-modal
    [formGroup]="signUpForm"
    [(nzVisible)]="isVisible"
    nzTitle="Enter your details:"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="signUp()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your user email!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="userEmail" nz-input placeholder="User Email" />
        </nz-input-group>
      </nz-form-control>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input formControlName="userPassword" nz-input type="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
      <nz-form-control nzErrorTip="Please input your user Phone!">
        <nz-input-group nzPrefixIcon="phone">
          <input formControlName="userPhone" nz-input placeholder="User Phone" />
        </nz-input-group>
      </nz-form-control>
      <nz-form-control nzErrorTip="Please input your user Login!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="userLogin" nz-input placeholder="User Login" />
        </nz-input-group>
      </nz-form-control>
      <nz-form-control nzErrorTip="Please input your user Name!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="userName" nz-input placeholder="User Name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </nz-modal>
</div>
