img {
  width: 50%;
  height: 50%;
}
#content-container {
  margin-left: 13%;
  height: 100vh;

  .content-block {
    transition: 1s;
    h2 {
      font-family: 'Stencil Std', fantasy;
      margin-top: 5px;
      color: #1e90ff;
    }
    p {
      font-family: 'Chalkduster', fantasy;
      margin-top: 5px;
      font-size: 18px;
      color: #48d1cc;
    }
  }

  .content-block:hover {
    background-color: grey;
    opacity: 0.8;
  }
}
