<span>
  <p style="color:white;">
    Welcome to your personal account : <a style="color:teal;">{{ email }}</a>
  </p>
</span>
<br />
<div *ngFor="let userReservation of userReservationList | async">
  <hr />
  <p>Email: {{ userReservation.email }}</p>
  <p>Start Time: {{ userReservation.initialTime }}</p>
  <p>End Time: {{ userReservation.endTime }}</p>
  <p>Gym Name: {{ userReservation.gymName }}</p>
  <p>Number of people: {{ userReservation.numberOfPeople }}</p>
  <p>Payment Amount: {{ userReservation.paymentAmount }} $</p>
  <p>Reservation Date: {{ userReservation.reservationDate }}</p>
  <button (click)="remove(userReservation.id)" nz-button nzType="danger" nzGhost>
    Delete
  </button>
  <button nz-button nzType="primary" nzGhost (click)="showModal(userReservation)">
    Update
  </button>
  <hr />
  <nz-modal
    class="update-gym"
    nzTitle="Update Reservation"
    [(nzVisible)]="isVisible"
    (nzOnCancel)="cancel()"
    (nzOnOk)="handleOk()"
    [nzOkDisabled]="updateReservationForm.invalid"
  >
    <form [formGroup]="updateReservationForm" (ngSubmit)="handleOk()" nz-form novalidate>
      <nz-form-label>New Initial Time</nz-form-label>
      <nz-time-picker
        [nzAllowEmpty]="true"
        [nzDefaultOpenValue]="defaultOpenValue | async"
        formControlName="initialTime"
        [nzMinuteStep]="60"
        nzFormat="HH:mm"
        [nzDisabledHours]="disabledHours"
      ></nz-time-picker>
      <br />
      <nz-form-label>New End Time</nz-form-label>
      <nz-time-picker
        formControlName="endTime"
        [nzDefaultOpenValue]="defaultOpenValue | async"
        [nzMinuteStep]="60"
        nzFormat="HH:mm"
        [nzDisabledHours]="disabledHours"
      ></nz-time-picker>
      <div *ngIf="updateReservationForm.controls['endTime'].invalid && updateReservationForm.controls['endTime'].touched">
        <p style="color: red;">
          The clock must not match or value to less value from
        </p>
      </div>
      <br />
      <nz-form-label>Enter a new number of people</nz-form-label>
      <nz-row>
        <nz-col nzSpan="12">
          <nz-slider
            [nzMin]="1"
            [nzMax]="(selectedUsersReservation$ | async).maximumNumberOfPeople"
            formControlName="numberOfPeople"
          ></nz-slider>
        </nz-col>
        <div nz-col nzSpan="4">
          <nz-input-number
            [ngModel]="updateReservationForm.controls.numberOfPeople.value"
            [ngModelOptions]="{ standalone: true }"
            [nzMin]="1"
            [nzMax]="(selectedUsersReservation$ | async).maximumNumberOfPeople"
            [ngStyle]="{ marginLeft: '16px' }"
          ></nz-input-number>
        </div>
      </nz-row>
    </form>
  </nz-modal>
</div>
