#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffd700;

  .logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;

    .modal {
      margin-right: 10%;
    }
  }
}
img {
  width: 60%;
  height: 50%;
}

.img-item img:hover {
  cursor: pointer;
  border: 2px solid #6495ed;
}
.img-item img:active {
  border: 3px solid #20b2aa;
}
